[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
djangorestframework = "*"
openai = "*"
requests = "*"
celery = "*"
redis = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"

[dev-packages]
django-debug-toolbar = "*"
flower = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
